.section {
    background-color: white;
    padding: 80px 0 116px;
}


.card-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
    flex-wrap: wrap;
   }

.awesome-card {
    margin: 0 15px;
    width: 350px;
}

.awesome-card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E72424;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-bottom: 16px;
}

.card-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    }