@import url(./cdn.css);
@import url(./awesome.css);
@import url(./pricing.css);
@import url(./customers.css);
@import url(./stylish.css);
@import url(./header.css);
@import url(./media.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  color: #212121;
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 12;
 }


.line {
  width: 64px;
  height: 2px;
  background-color: #E72424;
  margin: auto;
  margin-bottom: 34px;
}

.discription {
  margin-bottom: 68px;
}

.discription p {
  font-size: 14px;
  color: #86878B;
  width: 780px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: auto;
}
