.media {
    background-color: rgba(248, 239, 239, 1);
    padding: 17px 0;
}

.title3 {
    color: rgba(51, 51, 51, 1);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
}

.media-discription {
    width: 365px;
}

.media-discription p {
    font-family: 'Open Sans';
    color: rgba(134, 135, 139, 1);
    font-size: 14px;
    font-weight: 400;
}

.media-wrape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 685px;
}

.media-list_item {
    font-size: 42px;
}

.fa-facebook-f_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 1s;
}

.fa-facebook-f_media:hover {
    color: rgba(9, 29, 109, 0.7);
    transform: translate(4px, 4px);
}

.fa-twitter_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 2s;
}

.fa-twitter_media:hover {
    color: rgba(0, 172, 238, 1);
    transform: rotate(360deg);
}


.fa-goodreads-g_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 1s;
}

.fa-goodreads-g_media:hover {
    color: red;
    transform: skew(-30deg, 30deg);
}

.fa-pinterest_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 1s;
}

.fa-pinterest_media:hover {
    color: rgba(200, 35, 44, 1);
    transform: scale(1.5);
}

.fa-instagram_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 1s;
    transform-origin: top left;
}

.fa-instagram_media:hover {
    color: rgba(188, 42, 141, 1);
    transform: rotate(45deg);
}

.fa-stumbleupon_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 1s;
}

.fa-stumbleupon_media:hover {
    color: rgba(247, 68, 37, 1);
    transform: rotate(180deg);
}

.fa-wifi_media {
    color: rgba(134, 135, 139, 0.7);
    transition: 1s;
    transform-origin: bottom;
}

.fa-wifi_media:hover {
    color: rgb(12, 28, 146);
    transform: rotate(180deg);
}